<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rachel Xiao</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--fonts-->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Code+Pro:400,500,600,700'
          type='text/css' media='screen'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="static/css/base.css">

    <!-- {% block head %} -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

    <link type="text/css" rel="stylesheet" href="static/css/about.css">
    <script type="text/javascript" src="static/js/home.js"></script>
    <!-- {% endblock %} -->
</head>
<body>
<div class="navbar-ul">
    <ul id="navbar-list" class="list-inline">
        <li><a class="navbar-ref" href="index.html">Home</a></li>
        <li><a class="navbar-ref" href="about.html">About Me</a></li>
        <li><a class="navbar-ref" href="projects.html">Projects</a></li>
        <li><a class="navbar-ref" href="Resume.pdf" target="_blank">Resume</a></li>
    </ul>
</div>

<!-- {% block body %} -->
<div class="container">
    <!-- add fixed-wrapper to have it stay on screen -->
    <center class="wrapper">
        <img id="profile" src="static/images/profile.jpg">
    </center>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="desktop-view">Hi there!</p>
            <h2>I'm Rachel, a junior at UC Berkeley majoring in Electrical Engineering and Computer Sciences. </h2>
        </div>
        <p class="text-content">
            I'm actively seeking internship opportunities in the software engineering field, primarily in full-stack or backend development, where I can explore the intersection of technology and other fields, contribute to innovative projects, and continue growing as a software engineer. Let's connect if you have any opportunities I can take on!
            <br><br>
            During my time as a Backend Engineer Intern at Nextdoor, I had the opportunity to build a tool that significantly improved our codebase's efficiency by cleaning up rolled-out feature flags. This tool has been instrumental in saving engineers countless hours, allowing them to focus on developing new features rather than getting bogged down in maintenance tasks. This experience reinforced my belief that well-crafted software can not only improve productivity but also enable broader business objectives.
            <br><br>
            As a software engineer with a strong foundation in full-stack and backend development, I'm driven by the potential to create impactful solutions that intersect with other fields, particularly in the world of finance. My passion lies in leveraging technology to streamline financial processes, enhance user experiences, and contribute to innovations that can reshape the financial industry.
            <br><br>
            The world of financial technology fascinates me because of its unique challenges and the profound impact it can have on people's lives. From creating secure, scalable systems that handle vast amounts of data to developing intuitive platforms that democratize access to financial services, I see fintech as a field where I can merge my technical skills with my desire to drive meaningful change.
        </p>

            <br>
        </div>
    </div>
</div>
<!-- {% endblock %} -->
</body>
</html>
