<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rachel Xiao</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--fonts-->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Code+Pro:400,500,600,700'
          type='text/css' media='screen'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="static/css/base.css">

    <!-- {% block head %} -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    
    <link type="text/css" rel="stylesheet" href="static/css/home.css">
    <script type="text/javascript" src="static/js/home.js"></script>
    <!-- {% endblock %} -->
</head>
<body>
<div class="navbar-ul">
    <ul id="navbar-list" class="list-inline">
        <li><a class="navbar-ref" href="index.html">Home</a></li>
        <li><a class="navbar-ref" href="about.html">About Me</a></li>
        <li><a class="navbar-ref" href="projects.html">Projects</a></li>
        <li><a class="navbar-ref" href="Resume.pdf" target="_blank">Resume</a></li>
    </ul>
</div>

<!-- {% block body %} -->
<div class="container">
    <!-- add fixed-wrapper to have it stay on screen -->
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>rx</span><span class="at">@</span><span
                                class="path">/home/rachelxiao/</span>><span
                                class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <h2 class="desktop-view">Hi, my name is</h1>
            <p class="text-title desktop-view">Rachel Xiao</p>
            <p class="text-title mobile-view">Rachel Xiao</p>
            <h2 class="desktop-view">I'm an aspiring software engineer passionate about building technology people can use.</h2>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/rachelxiao907">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/rachelxiao04/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- {% endblock %} -->
</body>
</html>